* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow: hidden;
  @media only screen and (max-width: 950px) {
    font-size: 50%;
  }
  @media only screen and (max-width: 750px) {
    font-size: 40%;
  }
  @media only screen and (max-width: 600px) {
    font-size: 30%;
  }
  @media only screen and (max-width: 450px) {
    font-size: 25%;
  }
}

body {
  color: $text-color;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background: $bg-color;
}
.App {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media only screen and (max-width: 600px) {
    flex-direction: column-reverse;
  }
}
