.planet-info-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  animation: fadeIn 1s ease;
  border: 1px solid $line-color;
  padding: 2rem 0.5rem;
  box-shadow: 0 0 10px 2px rgb(252, 81, 81);

  &__header {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 1rem;

    &__image {
      width: 5rem;
      height: 5rem;
      margin-right: 1rem;
      animation: rotate 10s infinite linear;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &__distance,
    &__temperature,
    &__radius {
      border-bottom: 1px solid $line-color;
      padding: 0rem 1rem;
    }
  }
}

@keyframes fadeIn {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(0%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
