.time-input {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;

  &__input {
    text-align: center;
    // padding: 1rem;
    margin-right: 0.2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: all 0.3s;
    height: 3rem;
    width: 10rem;

    &:focus {
      box-shadow: 0 0 3px 1px rgb(170, 164, 164);
    }
  }

  .note {
    font-size: 1rem;
  }
}
